{% extends "base.html.twig" %}

{% block title %}Véhicules > Édition d'un véhicule{% endblock %}

{% block css %}{% endblock %}

{% block js %}{% endblock %}

{% block body %}
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div>
                    Édition d'un véhicule
                    <div class="page-title-subheading">
                        Peugeot 207 | Immatriculation : FS-483-AH
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form method="post" action="{{ path("vehicles_edit_submit") }}">
        <div class="row">
            <div class="col-sm-12">
                <div class="card mb-3">
                    <div class="card-header">
                        Informations de base
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="position-relative form-group">
                                    <label for="marque" class="">Marque</label>
                                    <input name="marque" id="marque" placeholder="Marque" type="text" class="form-control" value="Peugeot" />
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="position-relative form-group">
                                    <label for="modele" class="">Modèle</label>
                                    <input name="modele" id="modele" placeholder="Modèle" type="text" class="form-control" value="207" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="position-relative form-group">
                                    <label for="immat" class="">Immatriculation</label>
                                    <input name="immat" id="immat" placeholder="Immatriculation" type="text" class="form-control" value="FS-483-AH" />
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="position-relative form-group">
                                    <label for="datefabrication" class="">Date de fabrication</label>
                                    <input name="datefabrication" id="datefabrication" type="date" class="form-control" value="2007-08-12" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="position-relative form-group">
                                    <label for="agence" class="">Agence gérant le véhicule</label>
                                    <div class="position-relative form-group">
                                        <select type="select" id="agence" name="agence" class="custom-select" required>
                                            <option value="Limoges">Limoges</option>
                                            <option value="Nancy" selected>Nancy</option>
                                            <option value="Marseille">Marseille</option>
                                            <option value="Metz">Metz</option>
                                            <option value="Paris">Paris</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card mb-3">
                    <div class="card-header">
                        Détails techniques
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="position-relative form-group">
                                    <label for="hauteur" class="">Hauteur</label>
                                    <div class="input-group">
                                        <input placeholder="1,00" type="number" min="1" step="0.01" class="form-control" id="hauteur" name="hauteur" value="1,47" />
                                        <div class="input-group-append"><span class="input-group-text">mètre(s)</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="position-relative form-group">
                                    <label for="largeur" class="">Largeur</label>
                                    <div class="input-group">
                                        <input placeholder="1,00" type="number" min="1" step="0.01" class="form-control" id="largeur" name="largeur" value="1,75" />
                                        <div class="input-group-append"><span class="input-group-text">mètre(s)</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="position-relative form-group">
                                    <label for="poids" class="">Poids</label>
                                    <div class="input-group">
                                        <input placeholder="1,00" type="number" min="1" step="0.01" class="form-control" id="poids" name="poids" value="1,156" />
                                        <div class="input-group-append"><span class="input-group-text">tonne(s)</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="position-relative form-group">
                                    <label for="puissance" class="">Puissance</label>
                                    <div class="input-group">
                                        <input placeholder="1" type="number" min="1" class="form-control" id="puissance" name="puissance" value="112" />
                                        <div class="input-group-append"><span class="input-group-text">ch</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card mb-3">
                    <div class="card-header">
                        Finaliser l'édition
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="position-relative form-group">
                                     <button type="submit" class="btn btn-block btn-primary">Enregistrer les modifications apportées au véhicule</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}