body
{
    background-color: #DDDDDD;
}

.logo-src
{
    height: 65px !important;
    width: 200px !important;
}

.app-main .app-main__inner
{
    padding: 0 30px 0 30px;
}

.card
{
    width: 500px;
}

.error
{
    color: red;
}