<!--<button type="button" tabindex="0" class="dropdown-item">User Account</button>
<button type="button" tabindex="0" class="dropdown-item">Settings</button>
<h6 tabindex="-1" class="dropdown-header">Header</h6>
<button type="button" tabindex="0" class="dropdown-item">Actions</button>
<div tabindex="-1" class="dropdown-divider"></div>
<button type="button" tabindex="0" class="dropdown-item">Dividers</button>-->
{#<a href="#" class="dropdown-item" tabindex="0">Modifier mon profil</a>#}
<a href="{{ path("logout") }}" class="dropdown-item" tabindex="0">Déconnexion</a>