{% extends "email.html.twig" %}

{% block title %}Réinitialisation de votre mot de passe{% endblock %}

{% block body %}
    <p>
        Un administrateur de VGest a réinitialisé le mot de passe de votre compte sur VGest. Votre mot de passe a par conséquent été modifié.
    </p>
    <br /><br />
    <p>
        Dorénavant, voici les identifiants de connexion associés à votre compte.
        <br />
        Identifant : {{ agent.username }}
        <br />
        Mot de passe : {{ newpassword }}
    </p>
    <br /><br />
    <p>
        Il est fortement recommandé de modifier votre mot de passe depuis votre profil dès votre prochaine connexion, pour des raisons de sécurité.
    </p>
{% endblock %}