{% extends "base.html.twig" %}

{% block title %}Agents > Liste des agents désactivés{% endblock %}

{% block css %}{% endblock %}

{% block js %}
    {{ encore_entry_script_tags('agentsDisabledList') }}
{% endblock %}

{% block body %}
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading"><div>Liste des agents désactivés</div></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="main-card mb-3 card">
                <div class="card-header justify-content-between">
                    Agents désactivés
                    <div class="float-sm-right w-auto text-right">
                        <a href="{{ path("agents_list") }}" class="btn btn-primary m-0">Revenir aux agents actifs</a>
                    </div>
                </div>
                <div class="table-responsive">
                    {% if allAgents|length > 0 %}
                        <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center">Photo</th>
                                    <th class="text-center">Identité</th>
                                    <th class="text-center">Nom d'utilisateur</th>
                                    <th class="text-center">Statut</th>
                                    <th class="text-center">Actions</th>
                                </tr>
                            </thead>
                            <tbody id="agentsdisabledlist">
                                <tr id="agentsdisabledlistloading" class="text-center">
                                    <td colspan="5" class="text-center">
                                        <img src="{{ asset("img/VGest_Loading.svg") }}" alt="Chargement..." width="150px" height="auto" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    {% else %}
                        <p class="text-center">Aucun agent n'est actuellement désactivé.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}