{% extends "base.html.twig" %}

{% block title %}Édition de votre mot de passe{% endblock %}

{% block css %}{% endblock %}

{% block js %}
    <script type="text/javascript" src="{{ asset('vendors/js/jquery.validate.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset("js/global_validation.js") }}"></script>
    <script type="text/javascript" src="{{ asset("js/pages/profilepassword_form.js") }}"></script>
{% endblock %}

{% block body %}
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div>
                    Éditer votre mot de passe
                </div>
            </div>
        </div>
    </div>
    <form method="post" action="{{ path("profile_password_submit") }}" id="profilepassword-form">
        <div class="row">
            <div class="col-sm-12">
                <div class="card mb-3">
                    <div class="card-header">
                        Mot de passe
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-4">
                                <div class="position-relative form-group">
                                    <label for="oldpwd">Mot de passe actuel</label>
                                    <input name="oldpwd" id="oldpwd" placeholder="Mot de passe" type="password" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="position-relative form-group">
                                    <label for="newpwd">Nouveau mot de passe</label>
                                    <input name="newpwd" id="newpwd" placeholder="Mot de passe" type="password" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="position-relative form-group">
                                    <label for="newpwdconfirm">Confirmation du mot de passe</label>
                                    <input name="newpwdconfirm" id="newpwdconfirm" placeholder="Mot de passe" type="password" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="position-relative form-group">
                                    <button type="submit" class="btn btn-block btn-primary">Enregistrer les modifications</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}