{% extends "base.html.twig" %}

{% block title %}Ajouter une nouvelle agence{% endblock %}

{% block css %}{% endblock %}

{% block js %}{% endblock %}

{% block body %}
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading"><div>Ajout d'une agence</div></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="main-card mb-3 card">
                <div class="card-header">
                    Formulaire
                </div>
                <div class="card-body">
                    <form method="post" action="#">
                        <a class="btn btn-primary">Mon bouton</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}