{% extends "base.html.twig" %}

{% block title %}Agences > Ajouter une nouvelle agence{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ asset("vendors/css/dropify.min.css") }}" />
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{{ asset('vendors/js/dropify.min.js') }}"></script>
    <script>
        $('.dropify').dropify({
            messages: {
                'default': 'Déposez une photo ou cliquez ici pour en sélectionner une',
                'replace': 'Déposez une photo ou cliquez ici pour remplacer la photo',
                'error':   'Une erreur est survenue. Veuillz réessayer plus tard.'
            }
        });
    </script>
{% endblock %}

{% block body %}
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading"><div>Ajout d'une agence</div></div>
        </div>
    </div>
    <form method="post" action="{{ path("agences_add_submit") }}">
        <div class="row">
            <div class="col-md-12">
                <div class="main-card mb-3 card">
                    <div class="card-header">
                        Informations sur l'agence
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="position-relative form-group">
                                    <label for="photo" class="">Photo de l'agence</label>
                                    <input type="file" name="photo" id="photo" class="dropify" data-height="250" data-show-remove="false" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="position-relative form-group">
                                    <label for="nom" class="">Nom de l'agence</label>
                                    <input name="nom" id="nom" placeholder="Nom" type="text" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="position-relative form-group">
                                    <label for="adresse" class="">Adresse</label>
                                    <input name="adresse" id="adresse" placeholder="Rue, Avenue, Boulevard..." type="text" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="position-relative form-group">
                                    <label for="adressecomp" class="">Complément d'adresse</label>
                                    <input name="adressecomp" id="adressecomp" placeholder="Étage, Immeuble..." type="text" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="position-relative form-group">
                                    <label for="codepostal" class="">Code postal</label>
                                    <input name="codepostal" id="codepostal" placeholder="54000" type="number" min="1" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="position-relative form-group">
                                    <label for="ville" class="">Ville</label>
                                    <input name="ville" id="ville" placeholder="Nancy" type="text" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="position-relative form-group">
                                    <label for="tel" class="">Numéro de téléphone</label>
                                    <div class="input-group">
                                        <div class="input-group-append"><span class="input-group-text">+33</span></div>
                                        <input placeholder="601234578" type="number" class="form-control" id="tel" name="tel" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="position-relative form-group">
                                    <label for="fax" class="">Numéro de fax</label>
                                    <div class="input-group">
                                        <div class="input-group-append"><span class="input-group-text">+33</span></div>
                                        <input placeholder="601234578" type="number" class="form-control" id="fax" name="fax" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card mb-3">
                    <div class="card-header">
                        Finaliser l'ajout
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="position-relative form-group">
                                    <button type="submit" class="btn btn-block btn-primary">Ajouter l'agence</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}